@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
/* ======= NAV BAR ======= */

.textNav{
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}

.textNav:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.bton .btnNav{
    color: white;
font-family: "Bebas Neue", cursive;
    font-size: 25px;
    transition: 0.3;
    overflow: auto;
}

.bton .btnNav:hover{
    background-color: white;
    color: black;
}


/* ======= NAV BAR ======= */

/* ======= MAIN ======= */
body{
    background-image: url(/src/assets/img/bg/background.jpg);
}

/* ======= CAROUSEL ======= */

.carouselCDLM .carousel-mila img{
    height: 550px;
    object-fit: cover;
    object-position: center;
}

.card {
    width: 18rem;
}

.card-CDLM{
    display: flex;
    justify-content: space-around;

}
/* ======= CAROUSEL ======= */

/* ======= MAIN ======= */

.contact .tittleEdit {
    font-family: 'Coming Soon', cursive;
    color: white;
    font-size:larger;
}

.contact {
    background-image: url(/src/assets/img/bg/bg-contact.jpg);
    height: 15cm;
    width: 10cm;
    border: 20cm;
    border-color: brown;
    border-radius: 50px;
}

/* ======= FOOTER ======= */

.icon {
    display: flex;
    font-size: 35px;
}

.fa{
    color: white;
    font-size: 35px;
    transition: 0.3s;
}


.f{
transition: 0.5s;
}
.f:hover{
    transform: scale(1.5);
}

/* ======= FOOTER ======= */

.logo{
    width: 2.3cm;
    height: 2.3cm;
    border-radius: 50% ;
}