@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
/* ======= NAV BAR ======= */

.textNav{
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}

.textNav:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.bton .btnNav{
    color: white;
font-family: "Bebas Neue", cursive;
    font-size: 25px;
    transition: 0.3;
    overflow: auto;
}

.bton .btnNav:hover{
    background-color: white;
    color: black;
}


/* ======= NAV BAR ======= */

/* ======= MAIN ======= */


body{
background-image: url(/src/assets/img/bg/background.jpg);
display: block;
}

/* ======= CAROUSEL ======= */

.carouselCDLM .carousel-mila img{
    height: 550px;
    object-fit: cover;
    object-position: center;
}

.body-card .card{
    display: flex;
    justify-content: center;
    min-width: 300px;
    min-height: 150px;
}


/* ======= CAROUSEL ======= */

/* ======= MAIN ======= */

.contact .tittleEdit {
    font-family: 'Coming Soon', cursive;
    color: white;
    font-size:larger;
}

.contact {
    background-image: url(/src/assets/img/bg/bg-contact.jpg);
    height: 15cm;
    width: 10cm;
    border-color: brown;
    border: 20cm;
    border-radius: 50px;
}

/* ======= FOOTER ======= */

.icon {
    display: flex;
    font-size: 35px;
}

.fa{
    color: white;
    font-size: 35px;
    transition: 0.3s;
}


.f{
transition: 0.5s;
}
.f:hover{
    transform: scale(1.5);
}

/* ======= FOOTER ======= */

.logo{
    width: 2.3cm;
    height: 2.3cm;
    border-radius: 50% ;
}

/* ======= AboutPage Start ======= */

.intro  {
    /* color: rgb(255, 255, 255); */
    background-color: rgba(0, 0, 0, 0.7);;
    box-shadow: 7px 0px 10px rgb(193, 193, 193);
    border-radius: 10px;
    font-size: 1.5rem;
    margin: 2rem;
}

.titulo-abaut{
    color: rgb(0, 0, 0);
    text-shadow: 10px 0px 10px rgb(193, 193, 193);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0.5px 0.5px 5px rgb(193, 193, 193);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    padding: 10px 0px;
}

.card:hover img {
    transform: scale(1.1);
}

.card .info {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    box-sizing: border-box;
    padding: 9em 0;
    text-align: center;
    right: 0;
    left: 0;
    transition: 1s;
    opacity: 0;
}

.card:hover .info{
    opacity: 1;
}

.card .info h2 {
    color: #f0f0f0;
    margin: 0;
    font-size: 30px;
    font-family: "Bebas Neue", cursive;
}

.card .info p {
    color: #9e9e9e;
    margin: 10px 0 0;
    font-size: 16px;
}

/* ======= AboutPage End ======= */

